@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Oxygen, sans-serif;
    line-height: 1.34;
    font-size: 20px;
    letter-spacing: 0.01rem;
    color: rgb(26, 26, 26);
    background-color: #fff;
}

p {
    @apply mt-3
}

svg {
    max-width: 2rem;
}

svg {
    @apply text-green-600 inline mx-1 -my-1
}

.bio a {
    @apply no-underline border-none
}

.link,
a {
    @apply no-underline border-b border-dotted border-gray-700
}

em {
    @apply italic
}

.projects {
    @apply -mx-8 mt-2 flex flex-wrap
}

.projects>a, projects>article {
    @apply w-full block no-underline border-none
}

.projects>article a {
    @apply underline
}

@screen sm {
    .projects>a, .projects>article {
        @apply w-1/3 flex-auto
    }
}

h1 {
    @apply text-center uppercase w-full text-sm text-gray-700 border-gray-600 mt-12 mb-0
}

h2 {
    @apply mt-16 uppercase text-sm flex-none  my-2
}

li {
    @apply my-3
}

a article h3 {
    @apply underline 
}

article {
    @apply mt-4 mb-12 mx-8 flex-1 text-sm
}

article h3 {
    @apply font-bold uppercase mb-2 text-base text-green-600
}

article h3 span {
    @apply font-normal text-sm uppercase mt-1 text-gray-700 italic float-right clear-right inline-block;
}

article h4 {
    @apply font-bold my-2
}

article .status {
    @apply text-sm uppercase mt-0 text-gray-700 italic float-right clear-right inline-block;
}

.notes,
.bio {
    @apply text-gray-600 text-sm mt-3;
}

.footer {
    @apply text-sm text-gray-700 mt-12 mb-8
}

.footer a {
    @apply border-none
}

.logo {
    @apply inline-block w-8 ml-4
}

.banner {
    margin-left: 40rem;
    right: -8rem;
    @apply fixed top-0 text-sm text-red-700 bg-gray-400 px-24 py-2 -mt-12 transform rotate-45 origin-top-left 
}
ol { list-style: decimal;
    list-style-position: inside;
}

.links article {
    text-align: center;
}
